<div class="jumbotron">
    <h1>No surveys available!</h1>
    <p class="lead">Please create at least one survey.</p>
    <p>@Html.ActionLink(HttpUtility.HtmlDecode("Create &raquo;"), "Create", "Surveys", new { }, new { @class = "btn btn-primary btn-lg"})</p>
</div>
